<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img
        src="{{ url_for('static', filename='icons/icon-512x512.png') }}"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      SpikeConnect</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if team_nav %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('team_events', team_id=team.id) }}"
            >Schedule</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('team_messages', team_id=team.id) }}"
            >Messages</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% elif 'username' in session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('search_team') }}">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
        </li>
        {% if session.get('role') == 'coach' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('create_team') }}"
            >Create a Team</a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-button"
            aria-current="page"
            href="{{ url_for('login') }}"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sign_up') }}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
